.LeftSection {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.HireMe {
  width: 90px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5a47ab;
  color: white;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0 50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
